# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyQt
*.ui
*.qrc

# 开发日志
doc/dev_log.md

# 日志文件
*.log
logs/
app.log
download.log
error.log

# 配置文件
config.ini

# 下载目录
downloads/
data/

# IDE
.vscode/
.idea/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# 临时文件
*.tmp
*.temp cache/

# 媒体文件
*.mp4
*.m4s
*.m4a
*.mp3
*.flv
*.webm
*.mkv
*.avi
*.mov

# workspace
venv/
.venv/
.history/
.env
*.code-workspace
.vscode/
.pre-commit-config.yaml
